body {
    font-family: 'Segoe UI', Arial;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card */
.container {
    background: #f5f5f5;
    padding: 30px;
    width: 420px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

/* Heading */
h1 {
    margin-bottom: 20px;
}

/* Input */
input {
    padding: 8px;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Buttons layout */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* Buttons style */
button {
    padding: 8px 12px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d47a1;
}

/* Paragraph */
#para {
    margin-top: 10px;
    font-size: 16px;
}